<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--<mapper namespace="com.demo1.mapper">-->
<mapper namespace="com.demo1.mapper.daoInterface.TermMapper">
    <resultMap id="term" type="com.demo1.vo.Term" >
        <result property="no" column="term_no" />
        <result property="type" column="term_type" />
        <result property="yn" column="term_yn" />
        <result property="startDate" column="term_startdate" />
        <result property="endDate" column="term_enddate" />
        <result property="rgstBy" column="term_rgst_by" />
        <result property="rgstDate" column="term_rgst_date" />
        <result property="mdfBy" column="term_mdf_by" />
        <result property="mdfDate" column="term_mdf_date" />
        <result property="mdfDate" column="term_mdf_date" />
    </resultMap>

    <resultMap id="termDtl" type="com.demo1.vo.TermDtl" >
        <result property="no" column="term_no" />
        <result property="lang" column="term_lang" />
        <result property="cnt" column="term_cnt" />
    </resultMap>


    <!--  게시글 카운트  -->
    <select id="listCount"  resultType="java.lang.Integer" >
        SELECT COUNT(*) FROM TERM_MST
    </select>

<!--  글 전체 조회  -->
    <select id="findAll" parameterType="com.demo1.vo.PageInfo" resultMap="term">
<!--    <select id="findAll" parameterType="pageInfo" resultMap="term">-->
        SELECT * FROM TERM_MST
        ORDER BY term_rgst_date DESC
        OFFSET #{offset} ROWS FETCH NEXT #{boardLimit} ROWS ONLY
    </select>

<!--  글 상세보기  -->
    <select id="findOne" parameterType="java.lang.Integer" resultType="com.demo1.vo.Term">
        SELECT * FROM TERM_MST
        WHERE term_no = #{no}
    </select>

    <select id="findConts" parameterType="java.lang.Integer"  resultMap="termDtl">
        SELECT * FROM TERM_DTL
        WHERE term_no = #{no}
    </select>

<!--  글 등록  -->
    <!--1. term-->
    <insert id="registerTerm" parameterType="com.demo1.vo.Term" useGeneratedKeys="true" keyProperty="no">
        <selectKey keyProperty="no" resultType="java.lang.Integer" order="AFTER">
            SELECT TERM_SEQ.CURRVAL FROM DUAL
        </selectKey>
        INSERT
        INTO TERM_MST(term_no,
                    term_type,
                    term_yn,
                    term_startDate,
                    term_endDate,
                    term_rgst_By,
                    term_rgst_Date)
        VALUES (term_seq.nextval,
                    #{type},
                    #{yn},
                    #{startDate},
                    #{endDate},
                    '부엉이',
                    SYSDATE)
    </insert>
    <!--2. termDtl-->
    <insert id="registerTermDtl" parameterType="com.demo1.vo.TermDtl">
        INSERT
        INTO TERM_DTL(term_no,
                    term_lang,
                    term_cnt)
        VALUES  (#{no},
                #{lang},
                #{cnt})
    </insert>

<!--  검색  -->
    <select id="search" parameterType="java.util.HashMap" resultMap="term">
        <choose>
            <when test="'이용약관'.equals(term.getType()) || '개인정보취급방침'.equals(term.getType()) || '회원가입 동의'.equals(term.getType()) || '주문동의'.equals(term.getType())">
                SELECT * FROM TERM_MST
                WHERE term_type = #{term.getType()}
                AND   term_yn = #{term.getYn()}
                <if test="'전시 시작일'.equals(category)">
                    AND   TO_DATE(term_startdate, 'YYYY-MM-DD') >= TO_DATE(#{term.getStartDate}, 'YYYY-MM-DD')
                    AND   TO_DATE(term_enddate, 'YYYY-MM-DD') >= TO_DATE(#{term.getEndDate}, 'YYYY-MM-DD')
                </if>
                <if test="'등록일'.equals(category)">
                    AND   TO_DATE(term_rgst_date, 'YYYY-MM-DD') >= TO_DATE(#{term.getStartDate}, 'YYYY-MM-DD')

                </if>
                <if test="'수정일'.equals(category)">
                    AND   TO_DATE(term_mdf_date, 'YYYY-MM-DD') >= TO_DATE(#{term.getStartDate}, 'YYYY-MM-DD')
                </if>
            </when>
            <otherwise>
                SELECT * FROM TERM_MST
                WHERE TERM_YN =  #{term.getYn()}
                <if test="'전시 시작일'.equals(category)">
                    AND   TO_DATE(term_startdate, 'YYYY-MM-DD') >= TO_DATE(#{term.getStartDate}, 'YYYY-MM-DD')
                    AND   TO_DATE(term_enddate, 'YYYY-MM-DD') >= TO_DATE(#{term.getEndDate}, 'YYYY-MM-DD')
                </if>
                <if test="'등록일'.equals(category)">
                    AND   TO_DATE(term_rgst_date, 'YYYY-MM-DD') >= TO_DATE(#{term.getStartDate}, 'YYYY-MM-DD')
                </if>
                <if test="'수정일'.equals(category)">
                    AND   TO_DATE(term_mdf_date, 'YYYY-MM-DD') >= TO_DATE(#{term.getStartDate}, 'YYYY-MM-DD')
                </if>
            </otherwise>
        </choose>

    </select>

</mapper>