<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo1.mapper.ProductMapper">
    <resultMap id="product" type="com.demo1.history.Product" >
        <result property="productId" column="product_id" />
        <result property="productName" column="product_name" />
        <result property="productPrice" column="product_price" />
    </resultMap>

    <resultMap id="productHistory" type="com.demo1.history.ProductHistory" >
        <result property="productHistoryId" column="product_history_id" />
        <result property="productId" column="product_id" />
        <result property="historyType" column="history_type" />
        <result property="historyReason" column="history_reason" />
        <result property="historyDetail" column="history_detail" />
    </resultMap>

    <insert id="create" parameterMap="product">
        INSERT INTO PRODUCT VALUES (#{productId}, #{productName}, #{productPrice});
    </insert>

    <insert id="historyBuilder" parameterMap="productHistory">
        INSERT INTO PRODUCTHISTORY VALUES (#{productHistoryId}, #{productId}, #{historyType}, #{historyDetail});
    </insert>
</mapper>